.{
margin: 0px;
padding: 0px;
font-family: Arial,Helvetica, Sans-serif;
font-size: 12px;
background-color: #eff5f9;


}

.headerMenu{
	background-color: #0089ED;
	height: 37px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}
#wrapper{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 800px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.logo{
	/*width: 125px;*/
}
.logo img{
	/*height: 38px*/
}

.search_box{
	background-color: #0089ED;
	position: absolute;
	top: 30px;
	margin-left: 135px;
}
@media screen and (max-width: 1280px){
#menu{

background-color: #0089ED;
position: absolute;
top: 0px;
right: 0px;
height: 37px;
padding-top:19px;
margin-right: 4% ;

}
}

@media screen and (min-width: 1280px){
	#menu{
background-color:#0089ED;
position: absolute;
top: 0px;
right: 0px;
height: 37px;
padding-top:19px;
margin-right: 10% ;



	}
}


@media screen and (min-width: 1920px){
	#menu{
background-color:#0089ED;
position: absolute;
top: 0px;
right: 0px;
height: 37px;
padding-top:19px;
margin-right: 25% ;



	}
}

#menu a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	background-color:  #0089ED;
	background-repeat: no-repeat;
	padding-top: 19px;
	padding-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px;
}
h2{
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 18px;
	color:#0084c6;
}
input[type="text"]{
	background-color: #ffffff;
	border:1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
}
input[type="text"]:hover{
	border:1px solid #006FC4;
}
input[type="submit"]{
	background-color: #006FC4;
	border:1px solid #00508D;
	font-size: 15px;
	color: #FFFFFF;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 7px;

}

input[type="button"]{
	background-color: #006FC4;
	border:1px solid #00508D;
	font-size: 15px;
	color: #FFFFFF;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 7px;
}
.textHeader{
	background-color: #F3F6F9;
	width: 190px;
	height: 15px;
	padding: 5px;
	border-bottom: 1px solid #DCE5EE;
	font-weight: 600;
}
.profileLeftSideContent{
	width: 194px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0px;
	height: 200px;
	text-align: justify;
}
.postForm{
	float: right;
	width: 560px;
	height: 80px;
	background-color: #F3F6F9;
	padding: 5px;
}
.profilePosts{
	float: right;
	width: 560px;
	height: 414px;
	background-color: #DCE5EE;
	padding: 5px;

}
.posted_by{
	font-weight: 800;
	color: #000;
	text-decoration: none;
}
.posted_by a{
	font-weight: 800;
	color: #000;
	text-decoration: none;


}
hr{
	background-color: #DCE5EE;
	height: 1px;

}


.newfeedpostoption{
	width:100%;
	background-color: #999999;
	border:1px solid #333333;
	padding: 5px 5px 5px 5px -10px;
}